.card-name {
    font-size: 14px;
    color: #f3f3f3;
    font-weight: bold;
}

.card-header {
    display: flex;
    width: 95%;
    margin-bottom: 15px;
}

.card-info {
    width: 100%;
}

.card-title {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.card-title-right {
    text-align: right;
}

.card-rarity-block {
    display: flex;
    justify-content: right;
    align-items: center;
}

.card-rarity-span {
    font-size: 14px;
    margin-right: 5px;
}

.card-stats {
    text-align: center;
    max-width: 60px;
    margin-top: 15px;
}

.card-stats .card-values-row {
    font-size: 14px;
    font-weight: bold;
}

.card-body {
    width: 95%;
}

.card-source {
    width: 95%;
}

.card-source-prompt, .card-source-blocks {
    background-color: #2b2b2b;
    padding: 5px;
    margin: 5px auto;
}

.card-source-prompt {
    border-radius: 10px;
    box-shadow: inset 0 0 4px -2px white;
}

.card-source-blocks {
    border-radius: 5px;
    box-shadow: inset 0 1px 4px -3px white;
}

.card-market {
    width: 95%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.card-percent-owned {
    margin-top: 5px;
    width: 95%;
    display: flex;
    justify-content: right;
    color: #808080
}

.card-market-prompt {
    color: #bbac94;
}

.card-desc {
    width: 95%;
}